*.pyc
node_modules/
dev.db
site_media/
static/dist/
.DS_Store

local_settings.py
*.sqlite
*.py~
*.*~
*.html~
*~
*.swp
*.swo
*.log
*.bak
faircoin/faircoin.log*
faircoin/faircoin_cron.log*
.vagrant
bin/
cmd/create-user.sh
include/
lib/
media/logos/*.jpg
media/avatars/*.jpg
media/logos/*.png
media/avatars/*.png

faircoin/daemon/daemon.conf
faircoin/daemon/daemon.py
faircoin/daemon/daemon_service
faircoin/daemon/new_privkeys.txt
fixtures/*.json

