body { /*p, a, h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif !important; */
	font-size: 0.9em !important;
	text-align: center;
	line-height: 20px !important;
}

table.landing {
	max-width: 650px;
	width: 90%;
}

form#lang-switch {
	position: absolute;
	top: 0;
	right: 0;
}

div.base-form {
	display: inline-block;
	max-width: 650px;
	width: 90%;
  color: #fff;
}
form#membershipForm, form#joinForm {
	background-color: rgba(255,255,255,0.2);
	padding: 20px;
	text-align: center;
}
#membershipForm > div, #joinForm > div {
	text-align: left;
}

.base-form .control-group {
	margin-bottom: 18px;
}
.help-block {
	margin-top: 5px !important;
	font-size: 0.96em;
    opacity: .7;
}
.control-label {
	color: #fff;
	font-size: 1em;
}
.base-form .control-label {
	font-weight: bold;
}
h1 {
    font-size: 35px !important;
    margin-bottom: 15px;
    font-weight: 600;
}
h1, h2, h4, h5 {
	color: #fff !important;
}
h2 {
    font-size: 1.5rem;
}
h3 {
	color: #734279 !important;
	margin-top: 0;
	text-align: left;
	font-size: 1.4em !important;
    font-weight: 600;
}
p {
	color: #fff;
	text-align: left;
	margin: 0 0 20px !important;
}
li {
	text-align: left;
	margin: 10px 0;
}
a, a:visited {
	color: #a03;
	text-decoration: none;
}
a:hover {
	color: #c03;
	text-decoration: normal;
}
h1 a, h1 a:visited {
  color: #734279;
}
h1 a:hover {
  color: #7b4a81;
}
h4 img {
   color: #999;
   max-width: 85%;
}

input[type="checkbox"], input[type="radio"] {
	width: 30px !important;
}
.base-form input {
	width: 190px; /*  !important; */
}

.landing .btn-primary, body .btn {
  background-color: #a372a9;
  background-image: -ms-linear-gradient(top, #c392c9, #a372a9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c392c9), to(#a372a9));
  background-image: -webkit-linear-gradient(top, #c392c9, #a372a9);
  background-image: -o-linear-gradient(top, #c392c9, #a372a9);
  background-image: -moz-linear-gradient(top, #c392c9, #a372a9);
  background-image: linear-gradient(top, #c392c9, #a372a9);
}
.landing .btn-primary:hover, body .btn:hover {
  background-color: #a372a9;
  background-image: -ms-linear-gradient(top, #c392c9, #a372a9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c392c9), to(#a372a9));
  background-image: -webkit-linear-gradient(top, #c392c9, #a372a9);
  background-image: -o-linear-gradient(top, #c392c9, #a372a9);
  background-image: -moz-linear-gradient(top, #c392c9, #a372a9);
  background-image: linear-gradient(top, #c392c9, #a372a9);
}

.landing .btn, .btn {
	padding: 10px 20px 10px;
  text-shadow: none;
}
.btn-mini {
    padding: 5px 10px;
}
body .btn, body .btn:hover {
	color: inherit;
}
.landing h4 a.btn, .btn {
	font-size: 1rem;
    color: #fff !important;
}
.landing h4 a.btn {
    white-space: inherit;
}

.base-form input[type="textarea"], .base-form input[type="text"], .base-form input[type="email"], .base-form input[type="url"], .base-form textarea {
	width: 98% !important;
}
.base-form input[type="submit"] {
	width: 150px !important;
	clear: both;
}
.base-form select#id_type_of_user {
    max-width: 190px;
}
.base-form #div_id_captcha input {
	width: 130px !important;
	margin-left: 20px;
}
.base-form #div_id_captcha img {
	float: left;
	margin-right: 15px;
}
div.home-text {
	margin: 10px 6em;
	color: #fff;
}
table.landing {
	border-spacing: 10px;
	color: #fff;
	border-collapse: separate;
    border: none;
}
table.landing td {
    border: none;
}
.login-block, .register-block {
	background-color: rgba(250,250,250,0.2);
	padding: 20px;
    margin-bottom: 10px;
}
.register-block {
    margin-right: 10px;
}
td.login-block p {
    margin: 5px 0 !important;
}
td.register-block p {
    margin: 5px 0 20px !important;
}
td.login-block div#div_id_username {
	padding-top: 10px !important;
}
.form-horizontal .control-group:before, .form-horizontal .control-group:after {
	display: none !important;
}
.form-actions:before, .form-actions:after {
    display: none !important;
}

.login-block div > label {
	float: left;
	width: auto !important;
	/*padding: 10px 0;
	font-size: 0.8em;*/
}
.login-block #div_id_username label {
	/*width: 80px !important;
    text-align: left; */
}
.login-block #div_id_remember .controls {
    margin-left: 0 !important;
    margin-bottom: 20px;
}
.login-block div.control-group {
	padding: 2px 0;
	margin-bottom: 0;
	margin-top: 10px;
    overflow: auto;
}
.login-block .controls {
	/*float: right;*/
	margin-left: 90px !important;
}
.login-block .form-actions {
	padding: 17px 0 20px !important;
	background: none;
	border: 0;
	margin-top: 0;
}
.login-block .form-actions a, .login-block .form-actions a:visited {
	/* font-size: 0.9em; */
	font-weight: normal;
	/*float: left;*/
	color: #fff;
    margin: 15px 0;
}
.login-block .form-actions a:hover {
	/* color: #a372a9; */
	text-decoration: normal;
}
.login-block .form-actions button {
	float: right;
}

#joinForm span.help-inline {
    margin-bottom: 10px;
}


/*   R E S P O N S I V E   */

@media (max-width: 767px) {
    /* for phones */

}
@media (min-width: 768px) and (max-width: 979px) {
    /* for tablets */

}
@media (max-width: 480px) {

}
@media (min-width: 1200px) {

}
@media (max-width: 979px) {
    .base-form h1 img {
        max-width: 90%;
    }
}
@media (min-width: 980px) {

}
