@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('glyphicons-halflings-regular.eot');
    src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('glyphicons-halflings-regular.woff2') format('woff2'),
         url('glyphicons-halflings-regular.woff') format('woff'),
         url('glyphicons-halflings-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*  M A I N   M E N U   */

header {
    margin-bottom: 15px;
}
.navbar {
    padding: 0.1rem 1rem 0.3rem 1rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7) !important;
}
.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.3) !important;
}
.dropdown-menu {
    background-color: #476b6b;
    /* padding-bottom: 0; */
}

.navbar-inner {
    min-height: 39px;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #4C7A7A;
    color: #fff !important;
}
.navbar .btn-navbar {
    opacity: 0.4;
}

.dropdown-menu a {
	padding: 4px 10px 5px 15px !important;
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 0.92em;
}
.dropdown-menu form, ul.subnav {
    margin: 0;
}
.navbar .nav > li > a {
    padding-bottom: 9px;
}
.dropdown-menu button.navlink {
    display: inline;
    -webkit-appearance: inherit;
    border: 0;
    background: none;
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 6px 15px 9px !important;
    color: #555;
    font-size: 0.92em;
}
.dropdown-menu button.navlink:hover, .dropdown-menu button.navlink:active {
    background-color: #4C7A7A;
    color: #eee;
}
.dropdown-menu li > a.disabled {
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.3) !important;
}
.dropdown-menu li > a.disabled:hover {
    background-color: #476b6b !important;
    color: rgba(255, 255, 255, 0.3) !important;
}
ul.subnavsub li {
	list-style-type: disc;
	/*list-style-position: inside;*/
}
ul.subnavsub {
	margin: 0 0 0px 16px;
  list-style: inside;
}
ul.subnavsub a {
	display: inline-block;
	padding: 2px 7px 4px 7px;
}
a.disabled {
	color: #aaa;
}
a.disabled:hover {
	color: #aaa;
	background-color: #fff;
}

/*   I C O N S   */

i.world-icon::before, i.hamburger::before, i.icon-wrench::before, i.icon-user::before, i.icon-cog::before, i.icon-off::before {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
}

i.world-icon::before {
    content: "\e135";
}
i.world-icon {
    line-height: 20px;
    vertical-align: bottom;
}

i.hamburger::before {
    content: "\e236";
}
i.hamburger {
    vertical-align: bottom;
    line-height: 14px;
}

i.icon-wrench::before {
    content: "\e136";
}
i.icon-user::before {
    content: "\e008";
}
i.icon-cog::before {
    content: "\e019";
}
i.icon-off::before {
    content: "\e017";
}
i.icon-star::before {
    content: "\e006";
}
i.icon-wrench, i.icon-user, i.icon-cog, i.icon-off, i.icon-star {
    vertical-align: bottom;
    line-height: 19px;
    margin-right: 3px;
}
li.divider {
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    margin: 5px 0;
}

/*   G E N E R A L   */

div.pull-right {
	margin-top: 5px;
}
a {
	color: #734279;
}
a:hover {
	color: #a372a9;
}
legend {
  margin-top: 1.2rem;
  margin-bottom: 1.1rem;
  color: #476B6B !important;
  font-weight: bold;
  border-bottom: 2px solid #678B8B;
  line-height: 1.8rem;
}
h2, h3, h4, h5 {
  color: #476B6B !important;
  font-weight: 700 !important;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.1rem;
}
ul h4 {
  /*color: inherit;*/
}
h5 {
    font-size: 1.05rem;
    margin: 0.3rem 0 0.2rem;
}

li > h4 {
  display: inline-block;
}

th {
  background-color: #f0f0da
}
.entry-row th {
  background-color: inherit;
}

legend .subnav {
  float: right;
}
legend .subnav .indent {
  margin-left: 30px;
  font-size: 85%;
}

span.error {
  color: #b34;
  font-weight: bold;
}

.btn-primary {
  background-color: #a372a9;
  background-image: -ms-linear-gradient(top, #c392c9, #a372a9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c392c9), to(#a372a9));
  background-image: -webkit-linear-gradient(top, #c392c9, #a372a9);
  background-image: -o-linear-gradient(top, #c392c9, #a372a9);
  background-image: -moz-linear-gradient(top, #c392c9, #a372a9);
  background-image: linear-gradient(top, #c392c9, #a372a9);
}
.btn-primary:hover {
  background-color: #a372a9;
  background-image: -ms-linear-gradient(top, #c392c9, #a372a9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c392c9), to(#a372a9));
  background-image: -webkit-linear-gradient(top, #c392c9, #a372a9);
  background-image: -o-linear-gradient(top, #c392c9, #a372a9);
  background-image: -moz-linear-gradient(top, #c392c9, #a372a9);
  background-image: linear-gradient(top, #c392c9, #a372a9);
}
.btn-info {
    background-color: rgb(102, 153, 153) !important; /* #476B6B; */
    background-image: -moz-linear-gradient(rgb(148, 184, 184), rgb(102, 153, 153));
    border-color: rgba(0, 0, 0, 0.25) !important;
    background-repeat: repeat-x;
}

.error {
  color: #b34;
}
.helptext {
    opacity: .8;
    font-size: 90%;
}
span.pending, a.pending {
  color: #f27003;
  font-weight: bold;
}
b.pending, em.pending {
  color: #f27003;
}
span.complete, a.complete {
  color: #3b4;
  font-weight: bold;
}
b.complete, em.complete {
  color: #3b4;
}
span.empty, a.empty {
  color: #b34;
  font-weight: bold;
}
b.empty, em.empty {
  color: #b34;
}

.link-normal {
  font-size: 13px;
}
.pagination a {
  border-left-width: 1px;
}
.pagination span.current {
  line-height: 34px;
  margin: 0px 1em;
}
.small {
    font-size: .86rem;
}

.secondcol {
    margin-left: 15px;
}
.bigbox {
    overflow: auto;
}
.exlist table.dataTable, .jrlist table.dataTable {
    border-collapse: collapse !important;
}


/*   M E M B E R S H I P   P R O C E S S   P A G E   */

#member-request-block th, #agent-table-block th {
	text-align: right;
	background-color: #f0f0da;
}
#member-request-block td {
	padding: 5px 8px 4px 10px;
	max-width: 960px;
	width: 100%;
	overflow: auto;
}

#member-request-block, #member-request-comments {
	/*max-width: 1024px;*/
}

#member-request-comments > .row-fluid {
	font-size: 1.1em;
	font-weight: bold;
}
#member-request-comments dt {
	font-size: 0.9em;
	font-weight: normal;
	color: #666;
	margin-top: 13px;
	/*width: 170px;*/
}
#member-request-comments dd {
	border: solid 1px #ddd;
	padding: 8px 10px 2px 12px;
  margin: 5px 0;
  font-size: 1em;
	font-weight: normal;
  background-color: #f8fafa;
}
textarea#id_comment {
	width: 99%;
	margin-top: 8px;
	font-weight: normal;
}


/*   M Y   T A S K S   P A G E   */

div#my_tasks, div#take-new-task {
  width: 100%;
  margin-left: 0;
}

div#my_tasks table, div#take-new-task table {
  width: 100%;
}

/*   H O M E - D A S H B O A R D   */

.home-block {
  background-color: #f0f0da;
  padding: 7px 15px;
  max-width: 540px;
  min-width: 300px;
  float: left;
  margin-right: 13px;
  margin-top: 13px;

  border: 1px solid #CACAC6;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.home-block li {
  margin-top: 8px;
}


/*   Y O U R   P R O J E C T S   P A G E

.modal-body {
  color: #333;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  max-height: 450px;
} */
.modal-body p.help-block {
    opacity: .7;
    margin-top: 5px;
}
/*
.modal {
  width: 580px;
} */

legend a.btn {
  margin-bottom: 9px;
}

/*   A G E N T   P R O J E C T   P A G E   */

.span6.infobox {
  margin-left: 0;
}
.table-bordered {
  border: 1px solid #CACAC6;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.table-bordered th {
  border-bottom: 1px #CACAC6;
  border-left: none;
}
/*.table-bordered tr:first-child th {
  -moz-border-radius: 7px 0 0 0;
  -webkit-border-radius: 7px 0 0 0;
  border-radius: 7px 0 0 0;
}
.table-bordered tr:last-child th {
  -moz-border-radius: 0 0 0 7px;
  -webkit-border-radius: 0 0 0 7px;
  border-radius: 0 0 0 7px;
}*/
.table-bordered thead:first-child tr:first-child th:first-child {
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
}
.table-bordered thead:first-child tr:first-child th:last-child {
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
}
.table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
}
.table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
}


/*   J O I N   R E Q U E S T S   P A G E   */

ul#id_state {
  list-style: none;
  display: inline-block;
}
ul#id_state li {
  display: inline-block;
  margin-right: 20px;
  color: #734279;
}
ul#id_state li label {
  font-weight: bold;
  text-transform: capitalize;
}
form#stateForm {
  margin-bottom: 0;
}
.join_requests form.action-form {
  margin: 5px 5px 5px 0;
}

ul.dt-button-collection.dropdown-menu {
    max-width: 100%;
    overflow: hidden;
}


/*   I N T E R N A L   J O I N   R E Q U E S T   */

#joinForm {
  max-width: 650px;
}
#joinForm label.control-label {
  font-weight: bold;
  margin-bottom: 8px;
}
#joinForm textarea {
  width: 100%;
}
#joinForm div.control-group {
  margin-bottom: 20px;
}
.controls > .radio:first-child, .controls > .checkbox:first-child {
    padding-top: 0px;
}
#joinForm input[type="textarea"], #joinForm input[type="text"], #joinForm input[type="email"], #joinForm input[type="url"], #joinForm textarea {
	width: 98%;
}


/*   I N F O B O X E S   A N D   M I N I F O R M S   */

.miniform {
  padding: 7px 15px;
  background-color: #F5F5F0;
  border: 1px solid #94B8B8;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin-bottom: 13px;
  margin-left: 1em;
}
.infobox {
  background-color: #f0f0da;
  padding: 7px 15px;
  border: 1px solid #CACAC6;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin-bottom: 13px;
  max-width: 100%;
  overflow: auto;
}
.infobox2 {
  background-color: beige;
  padding: 16px 15px;
  border: 1px solid #CACAC6;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin-bottom: 7px;
  margin-top: 7px;
}
.infobox h3 {
  margin: 0 0 5px 0;
  padding: 0;
  /*font-size: 19.5px;*/
}
.infobox .row-fluid {
  width: inherit;
}
.infobox3 {
  background-color: #faffe0;
  padding: 10px 15px;
  border: 1px solid #CACAC6;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin-bottom: 7px;
  margin-top: 7px;
}

/*   P R O J E C T   E X C H A N G E S   */

.hdg {
    color: #444;/*firebrick;*/
}
.infobox-div {
  margin-top: 5px;
}


/*   P O P O V E R S   &   H E L P   */

.popover .popover-inner {
  background-color: #476B6B;
}
.popover.left .arrow {
  border-left: 5px solid #476B6B;
}
.help-content {
  background-color: #476B6B;
  border: 1px solid #CACAC6;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin-bottom: 13px;
}


/*   M O D A L S

.modal {
  background-color: #fff;
} */
.modal .helptext {
  font-style: italic;
  padding-bottom: 10px;
  display: block;
  font-size: 0.9em;
  color: #887;
  margin-top: 3px;
}
/* .modal input {
  margin-bottom: 0;
}
.modal label {
  margin-top: 15px;
} */


/*   T R E E S   */

div.fancytree-radio {
  /*float: left;*/
  display: inline-table;
}
div ul.fancytree-container {
  background: none;
  border: none;
}
span.fancytree-title span.edit a {
  color: #734279;
  cursor: pointer;
}
span.fancytree-title span.edit a:hover {
  text-decoration: underline;
}
span.fancytree-selected span.fancytree-title {
    font-style: inherit;
}


/*   R E S P O N S I V E   */

@media (max-width: 767px) {
    /* for phones */

}
@media (min-width: 768px) and (max-width: 979px) {
    /* for tablets */

}
@media (max-width: 480px) {

}
@media (max-width: 767px) {
    .miniform, .secondcol {
        margin-left: 0;
    }
}
@media (min-width: 768px) and (max-width: 979px) {

}
@media (min-width: 1200px) {

}
@media (max-width: 979px) {
    .navbar-collapse .dropdown-menu {
        background-color: inherit;
        border: none;
    }
    .navbar-collapse .dropdown-menu a {
        font-weight: normal;
        color: rgba(255, 255, 255, 0.5) !important;
        padding-bottom: 8px;
    }
    .navbar-collapse .dropdown-menu a.disabled {
        color: rgba(255, 255, 255, 0.3) !important;
    }
    .navbar-collapse .dropdown-menu .navlink {
        color: rgba(255, 255, 255, 0.5) !important;
    }
    .navbar-collapse button.navlink:hover, .nav-collapse button.navlink:active {
        background-color: #4C7A7A;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    .navbar-collapse .dropdown-menu a.disabled {
        color: #999;
    }
    .navbar-collapse .dropdown-menu a.disabled:hover {
        background: none;
    }
    .navbar-collapse .nav > li > a {
        padding-bottom: 7px;
        margin-bottom: 0;
    }

    .subnav {
        display: none;
    }
    .email-td {
        font-size: 80%;
    }
}
@media (min-width: 980px) {

}
