{% extends "work_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}{% trans "Transactions list" %}: {{ auth_user }}{% endblock %}

{% block extra_head %}

<style>
    /*.dt-buttons {
        float: right;
    }
    .multiwallet table.dataTable thead .sorting::after, .multiwallet table.dataTable thead .sorting_asc::after, .multiwallet table.dataTable thead .sorting_desc::after {
        top: 12px;
    }*/
</style>

{% endblock %}

{% block body_base %}
  <div class="container">
    <legend>
      <a class="indent" href="{% url 'members_agent' agent_id=agent.id %}">{{ agent.name }}</a> >
      <a class="indent" href="{% url 'multicurrency_auth' agent_id=agent.id %}">{% trans "Multicurrency Accounts" %}</a> >
	         {{ auth_user }}
      <div class="subnav">
          {% if jn_req %}
              <a href="{% url 'project_feedback' agent_id=agent.id join_request_id=jn_req.id %}">{% trans "BotC Feedback" %}</a>
          {% endif %}
      </div>
    </legend>
    {% include "_messages.html" %}
    <div class="container">
    <div class="row">
    <div class="infobox span2 col-4" style="">
        <h4>
            {% trans "Totals:" %}
        </h4>
      {% for bal in balance_clean %}{{ bal }}<br />{% endfor %}
    </div>
    </div>
    </div>

    <div class="multiwallet">
    <table id="listable" class="table table-bordered table-hover table-condensed ">
      <caption style="text-align:left; margin-bottom: 5px;">{{ table_caption }}</caption>
      <thead>
        <tr>
          <th></th>
          {% for header in table_headers %}
            <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
          {% for row in table_rows %}
            <tr>
              <td>{{ forloop.counter|add:offset }}</td>
              {% for td in row %}
                {% if forloop.counter is 7 %}
                    <td style="text-align: right;">{{ td|safe }}</td>
                {% else %}
                    <td>{{ td|safe }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
    </table>
    </div>
    <div>
      {% if paginator.previous %}
        <a class="btn" href="{% url 'multicurrency_history' agent_id=agent.id oauth_id=oauth_id %}?limit={{ paginator.previous.limit }}&offset={{ paginator.previous.offset }}">&#60;&#60;&#32;newer movements</a>
      {% endif %}
      {% if paginator.previous and paginator.next %}
        &nbsp; <span>&#32;&#124;&#32;</span> &nbsp;
      {% endif %}
      {% if paginator.next %}
        <a class="btn" href="{% url 'multicurrency_history' agent_id=agent.id oauth_id=oauth_id %}?limit={{ paginator.next.limit }}&offset={{ paginator.next.offset }}">older movements&#32;&#62;&#62;</a>
      {% endif %}
    </div>
    <p>
        &nbsp;
    </p>
  </div>
{% endblock %}

{% block extra_script %}

<script type="text/javascript" charset="utf8" src="{% static "js/jquery.expander.min.js" %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>

<script type="text/javascript" src="{% static 'js/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vfs_fonts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>

{% endblock %}


{% block extra_body %}
    {{ block.super }}

<script type="text/javascript">

    $(document).ready(function(){

        $("#listable").DataTable({
            stateSave: true,
            autoWidth: true,
            paging:   false,
            //ordering: false,
            //info:     false,
            //order: [[1, 'desc']],
            dom: '<"row"<"col"ir><"col"f><"col"B>><"row bigbox"t><"row"<"col"l><"col"p>>', //'B<"clear">lfrtip',
            buttons: [
                'colvis',
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
            ],
            columns: [
                null, // id
                null, // created
                null, // updated
                {"className": "textlong" }, // concept
                null, // method
                null, // IO
                null, // account or address
                null, // amount
                null, // unit
                { "className": "textlong longtext" }, // status
            ]
        });

        function update_longs(){
            $('.textlong').each(function(e) {
                $(this).expander({
                        slicePoint:       30,  // default is 100
                        expandSpeed: 0,
                        expandEffect: 'show',
                        collapseSpeed: 0,
                        collapseEffect: 'hide',
                        expandPrefix:     ' ', // default is '... '
                        expandText:       '&nbsp; <span style="font-weight:bold">+</span>', // default is 'read more'
                        userCollapseText: '&nbsp; <span style="font-weight:bold">&ndash;</span>'  // default is 'read less'
                });
            });
        };
        update_longs();
    });
</script>

{% endblock %}
