{% extends "work_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Multicurrency authentication: " %}{{ agent.name }}{% endblock %}

{% block extra_head %}
<style>
    table.table {
        border: none;
    }
    table.table th, table.table td {
        border: none;
    }
    .infobox {
        margin-right: 10px;
    }
</style>
{% endblock %}

{% block body_base %}

  <div class="container">
    <legend>
      <a class="indent" href="{% url 'members_agent' agent_id=agent.id %}">{{ agent.name }}</a> >
	        {% trans "Multicurrency Accounts" %}
      <div class="subnav">
          {% if jn_req %}
              <a href="{% url 'project_feedback' agent_id=agent.id join_request_id=jn_req.id %}">{% trans "BotC Feedback" %}</a>
          {% endif %}
      </div>
    </legend>
    {% include "_messages.html" %}

    <div class="container">
    <div class="row">
    <div class="col-sm infobox span6">
      <h3>{% trans "BotC-Wallet accounts for" %} {{ agent.name }}:</h3>
      {% if jn_req %}
        <p>{% trans "Related membership" %}: <a href="{% url 'project_feedback' agent_id=agent.id join_request_id=jn_req.id %}" class="btn btn-primary">
            {% blocktrans with name=jn_req.project.agent.name %}{{ name }} Feedback{% endblocktrans %}</a>
        </p>
      {% endif %}

      <table class="table" style="border:none;">
        <thead>
          <tr>
            <th class="span3"></th>
            <th class="span3"></th>
          </tr>
        {% for oauth in oauths %}
          <tr>
            <td>
              <a class="btn btn-primary"  style="font-size:1em;"
                 href="{% url 'multicurrency_history' agent_id=agent.id oauth_id=oauth.id %}">
                {% trans "Access:" %} {{ oauth.auth_user }}
              </a>
            </td>
            <td style="text-align:right;">
              <form id="deleteForm" class="validateMe" action="{% url 'multicurrency_deleteauth' agent_id=agent.id oauth_id=oauth.id %}" method="POST" >
                  {% csrf_token %}
                  {{ delete_form }}
                  <input type="submit" name="submit" value="{% trans "Log Out" %}" class="btn btn-danger btn-mini" />
              </form>
            </td>
          </tr>
        {% empty %}
          <tr><td colspan="2"><p>{% trans "You don't have any BotC-Wallet authenticated access in ocp yet." %}<br />
            {% trans "If you already have any access to BotC-Wallet's panel, use the form below to authenticate." %}<br />
            {% trans "If you don't have any access to BotC-Wallet's panel, create one by clicking this button:" %}<br /><br />

            <a href="#create-chipchap-user" role="button" class="btn btn-primary" data-toggle="modal">{% trans "Create new BotC-Wallet user" %}</a>

            <div class="modal hide fade" id="create-chipchap-user" tabindex="-1" role="dialog" aria-labelledby="agent-label" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="agent-label">{% trans "Create new BotC-Wallet Account" %}</h3>
                </div>
                <div class="modal-body">
                    <form id="createForm" class="createMe" action="{% url 'multicurrency_createauth' agent_id=agent.id %}" method="POST" onsubmit="return validateRepassword()">
                        {% csrf_token %}
                        {{ create_form|as_bootstrap }}
                        <div id="div_id_repassword" class="control-group ">
                          <label class="control-label required-field" for="id_repassword">{% trans "Confirm password" %}</label>
                          <div class="controls">
                            <input id="id_repassword" name="repassword" required="" maxlength="32" type="password">
                          </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                            <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Create BotC-Wallet User" %}' />
                        </div>
                    </form>
                </div>
            </div>

          </td></tr>
        {% endfor %}
      </table>
    </div>

    <div class="col-sm span6 miniform" style="margin-left:0">
      {% if oauths %}
        <h3>{% trans "Authenticate another existing account in BotC-Wallet" %}:</h3>
      {% else %}
        <h3>{% trans "Authenticate an existing account in BotC-Wallet" %}:</h3>
      {% endif %}
      <form id="oauthForm" class="validateMe" action="." method="POST" >
          {% csrf_token %}
          {{ oauth_form|as_bootstrap }}
          <input type="submit" name="submit" value="{% trans 'Submit' %}" class="btn btn-primary" />
      </form>
      <p><small class="muted">
        {% trans "By submitting your BotC-Wallet user/password you give permission to this site to access (read-only) to your wallet." %}<br />
        {% trans "Your password won't be stored, it's just necessary to check your identity in BotC-Wallet system." %}
      </small></p>
    </div>
    </div>
    </div>
  </div>
  <script type="text/javascript">
      function validateRepassword() {
        var pass1 = document.getElementById("id_password").value;
        var pass2 = document.getElementById("id_repassword").value;
        var ok = true;
        if (pass1 != pass2) {
          alert("Passwords Do not match");
          document.getElementById("id_repassword").style.borderColor = "#E34234";
          ok = false;
        }
        return ok;
      }
  </script>
{% endblock %}
